* {
	margin: 0;
	padding: 0;
}
body {
	background: url(./background.jpg);
}
.text-center {
	text-align: center;
}

.title {
	margin-top: 20px;
	font-size: 30px;
	color: #64c9ed;
}

.form {
	margin: auto;
	width: 80%;
}

.form label {
	font-size: 20px;
	color: #64c9ed;
}

.form input[type="submit"] {
	margin: auto;
	display: table;
	text-align: center;
	background-color: #64c9ed;
}
.container {
    background: #f9f9f9;
}

.flex-column {
    max-width: 260px;
}

img {
    margin: 5px;
}

div.imageplace  {
	margin: 0 auto;
	left: 80px;
	margin: 30px 60px 45px;

}

.img-fluid {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 10px 10px;
    position: relative;
    border-radius: 10%;
    width: 65%;
}

.scale {
    transform: scaleY(1.05);
    padding-top: 5px;
}

.domain {
    color: #64c9ed;
    position: relative;
    display: block;
    padding: 5px 5px;
    font-size: 19px;
    margin: 0 auto;
    height: fit-content;
    width: 100%;
    text-align: center;
}

